Host *
    # Settings for host key verifications
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    
    # Settings for SSH keys
    HostKeyAlgorithms +ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-rsa